#show-walrus, #show-walrus-action, #show-walrus-fat, #show-walrus-baby  {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

img {

  height: 40%;
  width: 40%;
}
