#show-walrus, #show-walrus-action, #show-walrus-fat, #show-walrus-baby  {
  display: none;
}

.clickable, .clickhere{
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover, .clickhere:hover {
  text-decoration: underline;
}

img {
  height: 40%;
  width: 40%;
}

.size {
  height: 100%;
  width: 100%;
}

.background{
  background-image: url("../img/walrus-fat.jpg");
  background-position: top;
  background-repeat:;
  background-size: 8%;
}
